* {
    box-sizing: border-box;
}

html {
    background: url('../images/photo-1521623910227-0c1b070ffec0.jpg');
    background-position: translate(25%, 75%);
    font-size: 10px;
}

.siimple-grid { /*IF CANNOT UNDERSTAND SIIMPLE CONTAINER SYSTEM - STYLE THE GRID AND USE MEDIA QUERIES ACCORDINGLY */
    max-width: 1200px;
    background-color: rgba(255,255,255, 0.75);
}

.word {
    display: flex;
}

.row {
    display: flex;
}

.wins {
    align-content: center;
}

.head h2 {
    width: 300px;
    border: 1px dashed blue;
}

.word-container {
    display: flex;
    flex-wrap: wrap;
    float: none;
}

.letter-container {
    flex: 1;
    border-bottom: 2px solid teal;
    margin: 5px;
}

.letter {
    flex: 1;
    margin: .15em;
    text-align: center;
    font-size: 4em;
}

.hide { /*class to toggle on individual div letter boxes*/
    opacity: 0;
}
