* {
    box-sizing: border-box;
}

html {
    background: url('../images/photo-1521623910227-0c1b070ffec0.jpg');
    background-position: translate(25%, 75%);
    font-size: 10px;
}

.siimple-grid { /*IF CANNOT UNDERSTAND SIIMPLE CONTAINER SYSTEM - STYLE THE GRID AND USE MEDIA QUERIES ACCORDINGLY */
    max-width: 1200px;
    min-width: 720px;
    background-color: rgba(255,255,255, 0.75);
}

.siimple-jumbotron {
    padding: 80px 0;
}

.siimple-btn {
    display: flex;
    width: 250px;
    height: 90px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.siimple-btn h3 {
    flex: 1;
    line-height: 60px;
}

.word {
    display: flex;
}

.row {
    display: flex;
}

.wins {
    align-content: center;
}

.head h2 {
    width: 300px;
    border: 1px dashed blue;
}

.word-container {
    display: flex;
    flex-wrap: wrap;
    float: none;
}

.letters-guessed-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    float: none;
}

.letters-guessed-container h3 {
    font-size: 4em;
    margin: 10px;
    /* text-transform: uppercase; */
}

.letter-container {
    display: flex;
    flex: 1;
    border-bottom: 2px solid teal;
    margin: 5px;
}

.letter {
    flex: 1;
    margin: .15em;
    text-align: center;
    font-size: 4em;
}

.dino-hide { /*class to toggle on individual DINO letter boxes*/
    opacity: 0;
}
